body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(210, 223, 236), cadetblue);
    }
    /*...........main div styling..........*/
    .wrapper {
    width: 800px;
    margin: 30px auto;
    color: rgb(0, 17, 63);
    text-align:center;
    }
    
    
    /*.....Heading style..........*/
    h1, h2, h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 2.6em;
      text-transform: uppercase;
    }
    
    /*.....seconds and milli seconds Styling.....*/
    #seconds, #tens{
      font-size:2em;
    }
    
    /*......button styling.........*/
    button{
    background:linear-gradient(45deg,rgb(174, 118, 226), rgb(6, 92, 116), rgb(92, 63, 255), rgb(38, 12, 109));
    color: white;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    border-radius: 20px;
    width:180px;
    margin: 10px;
    transition: 0.3s ease-in;
    }
    button:hover{
      font-size: 2rem;
    }